.favsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.selector {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	text-align: end;
}


.selector select {
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid black;
	text-transform: upper('uppercase')
	
}

.selector select:nth-child(1) {
	border-radius: 10px 0 0 10px;
}

.selector select:nth-child(2) {
	border-radius: 0 10px 10px 0;
}