input {
	all: unset;
	margin: 0;
	padding: 0;
}

.searchBar {
	border-radius: 10px;
	border:  1px solid darkgrey;
	padding: 5px 10px;
	width: 350px;
	/* margin: auto; */
}

.searchButton {
	all: unset;
	cursor: pointer;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 10px;
	transition: .2s;
}

.searchButton:hover {
	border: 1px solid black;
	
}

.randomButton {
	all: unset;
	margin-left: 20px;
	background-color: rgb(196, 231, 255);
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: .2s;
}

.randomButton:hover {
	background-color: rgb(145, 211, 255);
}