.App {

	font-family: consolas;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	min-height: 100vh;
	text-align: center;
	background: url("../src/images/bgrym.png") repeat 0 0;
	background-size: 280px 200px;

	-webkit-animation: bg-scrolling-reverse 10s infinite;
	/* Safari 4+ */
	-moz-animation: bg-scrolling-reverse 10s infinite;
	/* Fx 5+ */
	-o-animation: bg-scrolling-reverse 10s infinite;
	/* Opera 12+ */
	animation: bg-scrolling-reverse 10s infinite;
	/* IE 10+ */
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: 280px 200px;
	}
}
@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: 280px 200px;
	}
}
@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 280px 200px;
	}
}
@keyframes bg-scrolling-reverse {
	100% {
		background-position: 280px 200px;
	}
}
@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 280px 200px;
	}
}
@-moz-keyframes bg-scrolling {
	0% {
		background-position: 280px 200px;
	}
}
@-o-keyframes bg-scrolling {
	0% {
		background-position: 280px 200px;
	}
}
@keyframes bg-scrolling {
	0% {
		background-position: 280px 200px;
	}
}

/* CRT */
.crt::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
			rgba(18, 16, 16, 0) 50%,
			rgba(0, 0, 0, 0.25) 50%
		),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06)
		);
	z-index: 2;
	background-size: 100% 2px, 30px 100%;
	pointer-events: none;
}
