input {
	all: unset;
	margin: 0;
	padding: 0;
}

.searchBar {
	border-radius: 10px;
	border:  1px solid darkgrey;
	padding: 5px 0px;
	width: 350px;
	/* margin: auto; */
}

.searchButton {
	all: unset;
	cursor: pointer;
}

.randomButton {
	all: unset;
	margin-left: 20px;
	background-color: rgb(196, 231, 255);
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}